@model Board
@{
    ViewData["Title"] = "EditBoard";
}

<body>
    <div class="edit-wrapper">
        <header class="edit-header edit-title card">@Model.Title</header>
        <div class="edit-content card">

            <form asp-controller="EditBoard" asp-action="EditBoard" asp-route-id="@Model.Id" method="post">
                <label class="edit-content-description">Description</label>
                <br />
                <textarea asp-for="Description"></textarea>
                <input class="btn btn-success" type="submit" value="Save" />
            </form>

            <form asp-controller="EditBoard" asp-action="DeleteBoard" asp-route-id="@Model.Id" method="post">
                <input class="btn btn-danger" type="submit" value="Delete" />
            </form>

            <form asp-controller="Home" asp-action="Index" method="get">
                <input class="btn btn-primary" type="submit" value="Done" />
            </form>

        </div>
    </div>
</body>
