
@{
    ViewData["Title"] = "Boards";
}

<body>

    <div class="user-boards">

    </div>

    <!--Template for each of the baords to be added to the page.-->
    <template id="new-board">
        <div class="board card">
            <h2 class="board-content-title"></h2>
            <p class="board-content-description"></p>
        </div>
    </template>

    <script src="~/js/boards.js"></script>

</body>

