@model Storyboarder.Web.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<body>
    <form asp-controller="Account" asp-action="Login" class="card" method="post">
        <h2>Login</h2>

        <label asp-for="Username">Username</label>
        <input asp-for="Username" />
        <br />
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <br />

        <input type="submit" value="Login" />
    </form>

</body>


