
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="index-wrapper">
        <header class="index-header card">
            <h1 class="index-title">Storyboarder</h1>
        </header>
        <div class="index-content-wrapper card">
            <div class="index-menu">
                <a asp-controller="Account" asp-action="Login">Login</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</body>